<h1 class="mfb">People</h1>

<div class="grids">

  <div class="grid-9">
    <div class="mky">
      <div class="grids">
        <% @people.each do |person| %>
          <div class="grid-4">
            <div class="mob">
              <h3><%= link_to person.name, person %></h3>
              <div class="mct"><%= person.email %></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="grid-3">
    <aside class="mky">
      <section class="pf mfb">
        <span>TODO: Link to instructions and list of people who want to join</span>
      </section>
      <% @groups.each do |group| %>
        <section class="pf mfb">
          <%= link_to group.capitalize, '/people?group='+group %>
        </section>
      <% end %>

      <section class="pf mfb">
        <a href="">People requesting access</a>  
      </section>

    </aside>
  </div>

</div>
