<div class="grids">

  <div class="grid-12">
    <h2><%= link_to @article.department.name, @article.department %></h2>
  </div>

  <div class="grid-8 article">
    <h1><%= @article.headline %></h1>

    <div class="info">
      <span>by pupu-chan</span>
      <span>on May 16, 2013</span>
    </div>

    <div class="image">
      <img src="http://placekitten.com/700/400" />
      <div class="caption">
        This picture is great.
      </div>
    </div>

    <article class="print">
      <%= @article.copy %>
    </article>
  </div>

  <div class="grid-4">
    <aside>
      <section class="pf mfb">
        Saved/unsaved 
      </section>
      <section class="pf mfb">
        Department chooser
      </section>
      <section class="pf mfb">
        <%= link_to 'Back to article', @article %> |
      </section>
    </aside>
  </div>

</div>
