<div class="grids">

  <div class="grid-6">
    <div class="mky">
      <%= render 'form' %>
    </div>
  </div>

  <div class="grid-2">
  </div>

  <div class="grid-4">
    <aside class="mky">
      <section class="pf mfb">
        <%= link_to 'Cancel edit', @article %>
      </section>
    </aside>
  </div>

</div>
