<section class="department-header">
  <h2>Department Name</h2>
</section>

<div class="grids">
  <div class="grid-8 article">
    <h1><%= @article.headline %></h1>

    <div class="info">
      <span>by pupu-chan</span>
      <span>on May 16, 2013</span>
    </div>

    <article class="print">
      <!-- TODO: big photo (if indicated) with attribution/source -->
      <!-- TODO: social buttons -->
      <!-- TODO: topics (maybe sidebar?) -->
      <!-- TODO: more photos -->
      <%= @article.copy %>
      <!-- TODO: below author, more articles by them -->
    </article>
  </div>
  <div class="grid-4">
    <section style="padding:12px;border:solid 1px #ccc;">
      sample sidebar
    </section>
  </div>
</div>
