<section class="department-header">
  <h2><%= @department.name %></h2>
</section>

<div class="grids">
  <div class="grid-8">
    <section class="current_issue">
      <ul class="articles">
        <% @department.articles.each do |a| %>
          <li>
            <h3><%= link_to a.headline, a %></h3>
            <div class="info">by ruprect</div>
            <p><%= a.deck %></p> 
          </li>
        <% end %>
      </ul>
    </section>
  </div>
  <div class="grid-4">
    <section style="padding:12px;border:solid 1px #ccc;">
      sample sidebar
    </section>
  </div>
</div>
