<h1>New photo</h1>

<div class="grids">
  <div class="grid-8">

    <%= render 'form' %>

  </div>
  <div class="grid-4">
    <aside class="mky">

      <section class="pf mfb">
        <%= link_to 'Back', photos_path %>
      </section>

    </aside>
  </div>
</div>
