@import "mixins.scss";

.article {
  padding: 0 0 36px;
  h1 {
    font-size: 36px;
    margin: 0 0 4px;
    @include serif;
  }
  .info {
    margin: 0 0 12px;
    span {
      font-size: 11px;
      color: #777;
    }
  }
  .image {
    position: relative;
    img {
      width: 100%;
    }
    .caption {
      position: absolute;
      bottom: 10px;
      width: 98%;
      padding-left: 1%;
      padding-right: 1%;
      background-color: rgba(1, 1, 1, 0.6);
      color: white;
    }
  }
  article.print {
    @include standard-article;
  }
}
