body {
  background-color: #ddd;
}

#content {
  max-width: 945px;
  min-height: 500px;
  margin: 36px auto;
  background-color: white;
  box-shadow: 0 0 3px #888;
  border-top: solid 5px #0D4A95;
}

header {
	background-color: #0a4089;

  #top {
    width: 945px;
    margin: 0 auto;
    height: 81px;	
    position: relative;
    #logo {
      margin: 16px 0 0;
      width: 300px;
      height: 54px;
      float: left;
      &:hover {
        cursor: pointer;
      }
    }
    #subtitle {
      position: absolute;
      top: 57px;
      left: 306px;
      color: white;
      font-size: 11px;
    }
  }
}

.department-header {
  padding: 24px 0;
  margin: 0 0 24px;
  border-bottom: solid 1px #ccc;
}


.weather {
	float: right;
	color: #fff;
	margin: 13px 0 0;
	border-right: solid 1px #0f5ec8; /* dark -4 */
}
.weather .day {
	float: left;
	border-left: solid 1px #0f5ec8; /* dark -4 */
	border-right: solid 1px #05224a; /* light +4*/
	padding: 0 12px;
	text-align: center;
}
.weather .day:first-child {
	border-left: none;
}
.weather .day img {
	display: block;
	margin: -6px auto -4px;
	width: 44px;
	height: 44px;
}
.weather .day .high_sign,
.weather .day .low_sign {
	font-size: 11px;
	font-weight: bold;
	color: #2b7ff0;
}
.weather .day .high_deg,
.weather .day .low_deg {
	font-size: 13px;
	font-weight: bold;
}
.weather .day .weekday {
	font-size: 10px;
	color: #eee;
}


.weather .current {
	float: right;
}

/* Header Bottom
===========================================*/
#nav_wrapper {
  width: 100%;
  border-top: solid 1px #062249;
  border-bottom: solid 1px #ccc;
}
#nav {
  height: 28px;
  border-top: solid 1px #1c75ee;
  border-bottom: solid 2px #051b39;
  background-color: #0d56b8;
}
#nav #sections {
  list-style: none;
  width: 945px;
  margin: 0 auto;
  position: relative;
  top: 6px;
}
#nav #sections li {
  display: inline;
  padding: 7px 3px 9px;
}
#nav #sections li a {
	font-family: "Helvetica", "Arial", sans-serif;
	text-shadow: #000 0px -1px 1px;
	font-weight: bold;
	color: #eee;
	font-size: 11px;
	text-decoration: none;
	padding: 0 10px;
}
#nav #sections li.selected {
}
#nav #sections li.selected a {
  color: #8ab8f6;
}
#nav #sections li a:hover {
  color: #8ab8f6;
}
#nav li:last-child { 
  margin: 0 0 0 20px;
}
#cse-search-box {
	display: inline;
}
#cse-search-box div {
	display: inline;
}
#cse-search-box input {
	margin: -2px 0 0;
}



/* Experimental
==============================*/
.experimental {
  background-color: #eee;
  border-bottom: dotted 1px #aaa;
  width: 100%;
}
.experimental_inner {
  width: 550px;
  margin: 0 auto;
  padding: 15px 0;
}
.experimental section {
  float: left;
  margin: 0 50px 0 0;
}
.experimental section.logo h2 {
  margin: 5px 0 1px;
}
.experimental section.logo h2 a {
  font-size: 41px;
  color: #093979;
  font-weight: normal;
  font-family: "Georgia", serif;
  text-shadow: 0 1px 1px #fff;
  letter-spacing: -2px;
}
.experimental section.logo h2 a:hover {
  color: #1066d8;
/*   border-bottom: dotted 1px #1066d8; */
}
.experimental section.logo h3 {
  font-family: "Georgia", serif;
  font-weight: normal;
  font-size: 12px;
  color: #666;
  font-style: italic;
}
.experimental section.categories ul {
  list-style: none;
  margin: 0;
}
.experimental section.categories ul li {
  padding: 3px 0;
}
.experimental section.categories ul li a {
  font-size: 13px;
  color: #333;
  font-weight: bold;
}
.experimental section.categories ul li a:hover {
  color: #666;
}




footer {
	background-color: #020c1a;
	border-top: solid 2px #bbb;
	font-size: 12px;
	color: white;
  padding: 12px 0 0;
	line-height: 16px;
  h3 {
    color: #eee;
    font-size: 20px;
    margin: 0 0 12px;
  }
  ul {
    list-style: none;
    margin: 0 0 18px;
    li {
      margin: 0 0 6px;
      a {
        color: #116ce8;
        font-weight: bold;
        font-size: 12px;
        &:hover {
          border-bottom: dotted 1px #8ab8f6;
          color: #8ab8f6;
        }
      }
    }
  }
}
