@import "mixins.scss";

/* Reset 
==================== */
* { margin: 0; padding: 0; }


/* Elements
==================== */

a,
a:active { color: #116ce8; }
a:hover { color: #116ce8; }


ul { list-style: none; }

h1 { font-size: 36px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }


/* One-off Elements
==================== */

aside section {
  border: solid 1px #ccc;
}

/* Fonts 
==================== */
.serif {
  @include serif;
}

/* Font weights
==================== */
.fwb { font-weight: bold; }
.fwn { font-weight: normal; }

/* Text colors 
==================== */
.green { color: green; }

/* Background colors 
==================== */
[class*='bg-'] {
  color: white;
}
.bg-green { 
  background-color: green; 
}
.bg-orange { 
  background-color: orange; 
}

/* Layout Utility 
==================== */

.center { text-align: center; }
.full { width: 100%; }

// Display
.dib { display: inline-block; } 
.db { display: block; } 
.di { display: inline; } 

/* Forms 
==================== */

label {
  font-size: 14px;
  margin: 0 0 .2em;
  display: block;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea { 
  font-size: 14px;
  padding: .2em;
  width: 100%;
}

/* Spacing Utility 
==================== */

@each $type in 'padding', 'margin' {
    $size: 0em;
    @each $name in a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,x,y,z {

        $prefix: ''; // For scope
        @if $type == 'padding' { $prefix: 'p'; }
        @if $type == 'margin'  { $prefix: 'm'; }

        .#{$prefix}#{$name} { #{$type}: $size; }

        .#{$prefix}#{$name}t { #{$type}-top:      $size; }
        .#{$prefix}#{$name}l { #{$type}-left:     $size; }
        .#{$prefix}#{$name}b { #{$type}-bottom:   $size; }
        .#{$prefix}#{$name}r { #{$type}-right:    $size; }

        .#{$prefix}#{$name}y { #{$type}-top: $size; #{$type}-bottom: $size; }
        .#{$prefix}#{$name}x { #{$type}-left: $size; #{$type}-right: $size; }

        $size: $size + 0.2em;
    }
}
