@mixin helvetica {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
@mixin serif {
  font-family: "Libre Baskerville", "Georgia", serif;
}

@mixin standard-article {
  font-size: 15px;
  line-height: 26px;
  @include serif;
} 
