<footer>
  <div class="wrap">
    <div class="grids">
      <div class="grid-3">
        <h3>About Us</h3>
        <p>The Colby Echo is a weekly newspaper published by the Students of Colby College since 1877.</p>
        <ul id="team">
          <li><a href="/about">About The Echo</a></li>
          <li><a href="/people">The Echo Team</a></li>
        </ul>
      </div>
      <div class="grid-3">
        <h3>Print Departments</h3>
        <ul>
          <li><a href="/news">News</a></li>
          <li><a href="/local">Local News</a></li>
          <li><a href="/opinion">Opinion</a></li>
          <li><a href="/ae">Arts & Entertainment</a></li>
          <li><a href="/features">Features</a></li>
          <li><a href="/sports">Sports</a></li>
        </ul>
      </div>
      <div class="grid-3">
        <h3>Web Exclusive</h3>
        <ul>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/video">Video</a></li>
        </ul>
      </div>
      <div class="grid-3">
        <h3>Contact Us</h3>
        <ul>
          <li><a href="/contact">Contact Info</a></li>
          <li><a href="/about/advertising">Advertising</a></li>
          <li><a href="http://twitter.com/thecolbyecho">@thecolbyecho</a></li>
        </ul>
      </div>
    </div>
    <div class="grids">
      <div class="grid-12">
        <p class="center">The Colby Echo website is engineered and maintained by the <a href="/about/colophon">Echo Tech Team.</a> All Content Copyright <%= Time.new.year %>.</p>
      </div>
    </div>
  </div>
</footer>
