<footer class="pkt">
  <div class="wrap">

    <ul class="sc">
      <li class="dib mfr"><a href="/about">About</a></li>
      <li class="dib mfr"><a href="/people">Team</a></li>
      <li class="dib mfr"><a href="/blog">Blog</a></li>
      <li class="dib mfr"><a href="/contact">Contact Info</a></li>
      <li class="dib mfr"><a href="/about/advertising">Advertising</a></li>
      <li class="dib mfr"><a href="https://twitter.com/thecolbyecho">@thecolbyecho</a></li>
      <li class="dib mfr">All Content Copyright <%= Time.new.year %>.</li>
    </ul>

  </div>
</footer>
